@model EduHome.ViewModels.ViewModelEduhome

    <div class="testimonial-area pt-110 pb-105 text-center">
        <div class="container">
            <div class="row">
                <div class="testimonial-owl owl-theme owl-carousel">
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/Uploads/img/@Model.StudentFeedback.Image" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@Model.StudentFeedback.Content</p>
                                    <h4>@Model.StudentFeedback.FullName</h4>
                                    <h5>@Model.StudentFeedback.Category</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
